a {
  color: #333;
  text-decoration: none;
  margin-left: 5px;
}

a:hover {
  color: #ddd;
}

body {
  background: url('./background.png');

  background-position: center;
  background-repeat: repeat;
  background-size: cover;
  position: relative;
}

.App footer {
  margin-bottom: 100px;
  color: #ddd;
}
